tempfile
beautifulsoup4
selenium
loguru
opik
langchain_openai
pydantic
transformers
sentence_transformers
numpy
flask
requests
ollama
clearml
zenml
pydantic_settings
youtube_transcript_api
yt_dlp
concurrent.futures
threading
typing_extensions
tqdm
